@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fdf2f8;
  /* pink-50 */
  color: #831843;
  /* pink-900 */
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>❤️</text></svg>") 16 0, auto;
  /* Fallback */
}

/* Envelope Styles */
.envelope-wrapper {
  perspective: 1000px;
}

.envelope {
  transform-style: preserve-3d;
}

.flap {
  transform-origin: top;
  transition: transform 0.5s ease-in-out;
}

.envelope.open .flap {
  transform: rotateX(180deg);
  z-index: 0;
}

.letter-content {
  transition: transform 0.5s ease-in-out 0.5s;
  /* Delay for flap to open */
}

.envelope.open .letter-content {
  transform: translateY(-100px);
  z-index: 20;
}

h1,
h2,
h3 {
  font-family: 'Dancing Script', cursive;
}

button {
  transition: all 0.2s ease-in-out;
}